/*****************
TOP ET BOTTOM
*****************/  
.blocTopBottom {
    position: fixed;
    bottom: 30px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index:999;
}

.blocTopBottom a {
  font-family:var(--fontawesome);
  font-weight:800;
  margin-right:10px;
  font-size:18px; 
  text-decoration: none;
}

.btnTop:before, .btnBottom:before {
  background:var(--black01);
  border-radius: 5px;
  color:var(--text);
  padding:10px;
  font-size:18px;
  cursor:pointer;
}

.btnTop:before {content:'\f077';}
.btnBottom:before {content:'\f078';}

/*menu*/
.blocLiensUtiles {
    visibility: hidden;
    position: absolute;
    right: 50px;
    bottom: 0px;
    transition:0.5s;
    opacity:0;
    background: var(--black01);
    border-radius: 5px;
    padding:15px;
    width:250px;
    font-weight:500;
    z-index:999;
}

.blocLiensUtiles ul {
    padding:0px;
    margin:0px;
    list-style-type: none;
}

.blocLiensUtiles h3 {
    color:var(--red);
    font-family: var(--rubik);
    font-size:16px;
    font-weight: 600;
    margin-bottom:2px;
}

.blocLiensUtiles li {
    background:var(--black02);
    padding:8px;
    border-radius:5px;
    flex-grow: 1; 
}

.blocLiensUtiles li a {
    color:var(--text);
    font-family: var(--rubik);
    font-size:13px;
    text-decoration: none;
      font-weight: 400;
}

.blocLiensUtiles li:hover {background:var(--red);}

.blocLiensUtiles-ouvert {
    visibility:visible;
    opacity:1;
    right:60px;
}

.btnLiensUtiles {
    width:35.75px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: var(--black01);
    border-radius: 5px;
    color: var(--text);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: var(--fontawesome);
    font-weight: 800;
}

.blocUlLU {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:5px;
}

.blocUlLU {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:5px;
}

.btnLiensUtiles:before {content: '\f0c9';}
.btnLiensUtiles-ouvert:before {content: '\f00d';}
