/*****************
SWITCHEROO
*****************/
.switcheroo_bloc {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.switcheroo_contenu {
  background: var(--black02);
  border-radius: 100px;
  overflow: hidden;
  max-height: 65px;
  transition: max-height 0.8s ease;
}

.switcheroo_contenu_ouvert {
    background:var(--black02);
    max-height: 1000px;
    border-radius: 100px;
}

.switcheroo_chevron:before {
    font-family: var(--fontawesome);
    content: '\f078';
    font-size: 17px;
    font-weight: 800;
    color: var(--text);
}

.switcheroo_chevron {
    background:var(--red);
    transition:0.5s;
    width: 35px;
    height: 35px;
    border-radius:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin-top:10px;
}

.switcheroo_chevron_ouvert {
    transform: rotate(-180deg);
    transition:0.5s;
}  

/****************************************************************
****************************************************************
****************************************************************/


#l21nus-clis *{
  user-select:none;
  -webkit-user-drag:none;
}
#l21nus-login a, .l21nus-moving .l21nus-cdel{
  display:none!important;
}
#l21nus-login{
  position:absolute;
  top:0;
  left:100%;
  width:150px;
  margin-left:-5px;
  overflow:hidden;
  box-shadow:4px 4px 5px rgba(0,0,0,.15);
}
#l21nus-login form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:relative;
  border-radius:5px;
  padding:1px;
}
#l21nus-login input[type="submit"],
#l21nus-login input[type="text"],
#l21nus-login input[type="password"]{
  margin:0px!important;
  outline:0!important;
  font-size:10px!important;
  line-height:10px!important;
  border-radius:0px!important;
  font-family:arial!important;
  text-align:left!important;
  text-transform:none!important;
  box-sizing:border-box;
}
#l21nus-login input[type="text"]{
  border-top-left-radius:4px!important;
}
#l21nus-login input[type="password"]{
  border-top:1px solid rgba(0,0,0,.1)!important;
  border-bottom-left-radius:4px!important;
}
#l21nus-login input[type="text"],
#l21nus-login input[type="password"]{
  height:auto!important;
  width:80%!important;
  background:#fff!important;
  padding:5px!important;
}
.l21nus-add a{  
background-color: var(--red)!important;
    font-size: 23px;
    font-family: "times new roman";
    color: #fff;
    width: 36px!important;
    height: 36px!important;
    margin-left: 4px;
}
.l21nus-add a:not(.l21nus-loading)::before{
  content:'+';
  display:flex;
    width: 36px!important;
    height: 36px!important;
  justify-content:center;
  align-items:center;
}
#l21nus-clis li.l21nus-moving{
  z-index: 999;
}

.l21nus-moving{
  opacity:.5;
}

#l21nus-login input[type="submit"]{
  position:absolute!important;
  right:0!important;
  height:100%!important;
  width:20%!important;
  padding:0px!important;
  background-image:url("data:image/svg+xml;utf8,%3Csvg%20id%3D%22light%22%20enable-background%3D%22new%200%200%2024%2024%22%20height%3D%22512%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%22512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m15.5%2012.5h-15c-.276%200-.5-.224-.5-.5s.224-.5.5-.5h15c.276%200%20.5.224.5.5s-.224.5-.5.5z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m11.5%2016.5c-.128%200-.256-.049-.354-.146-.195-.195-.195-.512%200-.707l3.647-3.647-3.646-3.646c-.195-.195-.195-.512%200-.707s.512-.195.707%200l4%204c.195.195.195.512%200%20.707l-4%204c-.098.097-.226.146-.354.146z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m12%2023c-4.655%200-8.823-2.947-10.372-7.333-.092-.261.045-.546.305-.638.261-.09.546.045.638.305%201.408%203.987%205.197%206.666%209.429%206.666%205.514%200%2010-4.486%2010-10s-4.486-10-10-10c-4.232%200-8.021%202.679-9.428%206.667-.092.26-.378.395-.638.305-.26-.092-.397-.377-.305-.638%201.548-4.387%205.716-7.334%2010.371-7.334%206.065%200%2011%204.935%2011%2011s-4.935%2011-11%2011z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); 
  background-size:55%;
  background-position:50%;
  background-repeat:no-repeat;
  background-color:transparent!important;
  color:transparent!important;
  cursor:pointer;
}
#l21nus-clis{
  padding:0px!important;
  margin:0;
  z-index: 999;
  display:block!important;
  box-sizing:border-box;

}
#l21nus-clis ul{
  padding:10px!important;
  margin:0;
  list-style-type:none;

}
#l21nus-clis li{
  position:relative;
  display:flex!important;

}

#l21nus-clis li:not(:last-child){
  margin-bottom:10px;
}
.l21nus-logged{
    width: 45px!important;
    height: 45px!important;
    box-sizing: content-box;
}
  
.l21nus-add {
    width: 45px!important;
    height: 45px!important;
    border-top: 5px solid rgba(0, 0, 0, 0.0);
}

#l21nus-clis a{
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
}

.l21nus-logged a{
  cursor:default;
}
#l21nus-clis img{
  width:45px;
  height:45px;
  object-fit:cover;
  border:5px solid rgba(0, 0, 0, 0.25);
  border-radius:100px;
}
.l21nus-loading::before{
  content:' ';
  width:40px;
  height:40px;
  position:absolute;
  background-position:50%;
  background-image:url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22120%22%20height%3D%2230%22%20viewBox%3D%220%200%20120%2030%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23c0c0c0%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3Ccircle%20cx%3D%2260%22%20cy%3D%2215%22%20r%3D%229%22%20fill-opacity%3D%220.3%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%229%22%20to%3D%229%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%229%3B15%3B9%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%220.5%22%20to%3D%220.5%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%22.5%3B1%3B.5%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3Ccircle%20cx%3D%22105%22%20cy%3D%2215%22%20r%3D%2215%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3C/svg%3E%0A");
  background-repeat:no-repeat;
  background-size:50%;
  background-color:rgba(0,0,0,0.25);
  right:0;
  top:0;
}
.l21nus-loading::before,
#l21nus-clis a,
#l21nus-clis li{
  border-radius:100px;
}
#l21nus-clis li:hover .l21nus-cdel{
  display:flex;
}
.l21nus-cdel{
  display:none;
  position:absolute;
  z-index:10;
  background:black;
  border-radius:100%;
  align-items:center;
  justify-content:center;
  font-family:arial;
  color:white;
  bottom:-2px;
  right:-2px;
  width:12px;
  height:12px;
  font-size:10px;
  line-height:10px;
  cursor:pointer;
}
.l21nus-logged .l21nus-cdel{
  bottom:-4px!important;
  right:-4px!important;
}
  
